@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  @apply bg-white transition dark:bg-slate-900;
}

.button {
  @apply rounded-[20px] bg-[#6A70FF] font-bold text-white hover:bg-[#6AA6FF];
}

.button-modal {
  @apply rounded-[8px] px-14 py-2.5 text-[14px] text-[#4F4F4F] ring-1 ring-inset ring-[#4F4F4F] hover:bg-gray-50;
}

.category {
  @apply relative flex flex-col items-center justify-between rounded-3xl hover:scale-105;
}

.categoryIner {
  @apply flex h-full w-full flex-col items-center justify-between rounded-3xl py-24 backdrop-blur-sm dark:backdrop-blur-0;
}

.categoryText {
  @apply text-3xl font-extrabold text-white lg:text-4xl;
}

.darkModeIcon {
  @apply fill-slate-700 text-slate-700 transition dark:fill-white;
}

.notSeletBtn {
  @apply border-2 text-white border-[#4069FD] bg-[#4069FD] dark:border-2 dark:border-white dark:bg-slate-700 dark:text-white dark:hover:text-slate-700;
}

.seletBtn {
  @apply border-2 border-black bg-black dark:border-2 dark:border-slate-700 dark:bg-white dark:text-black;
}

@media (max-width: 640px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
    margin-left: 0px;
  }
}
@media (min-width: 641px) {
  .full-sidebar {
    display: none;
  }

}